workflow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract the list of photos from the previous step\n// Note: Immich puts them in 'assets' -> 'items'\nconst photos = items[0].json.assets.items;\n\n// Map to a simple list of IDs\nconst ids = photos.map(photo => photo.id);\n\n// Return data to n8n\nreturn {\n  json: {\n    ids: ids\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        32
      ],
      "id": "db8d17eb-426a-4dbe-b3d3-9bfb9fd39b3b",
      "name": "Extract IDs",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://YOUR_IMMICH_IP:2283/api/albums/{{ $('Config: Name & Album').item.json.AlbumID }}/assets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"ids\": $json.ids } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        32
      ],
      "id": "0d5c35d3-f0ae-47fa-8209-89e9b4b226ea",
      "name": "Add to album",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nUzuqQLpcsn8Urz3",
          "name": "Immich"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "537d1414-e3c5-4bb9-a777-52264f151b5e",
              "name": "PersonName",
              "value": "ENTER_PERSON_NAME",
              "type": "string"
            },
            {
              "id": "dc54d126-4d91-4694-b7f8-88df7e02582b",
              "name": "AlbumID",
              "value": "ENTER_ALBUM_ID_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        32
      ],
      "id": "be27652e-6b99-43e3-8ae3-27e5243914b3",
      "name": "Config: Name & Album"
    },
    {
      "parameters": {
        "url": "http://YOUR_IMMICH_IP:2283/api/search/person",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.PersonName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        32
      ],
      "id": "a64a1c08-b86f-424f-bf00-b89db73c333b",
      "name": "Find Person ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nUzuqQLpcsn8Urz3",
          "name": "Immich"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://YOUR_IMMICH_IP:2283/api/search/metadata",
        "authentication": "genericCredentialType",
        "genericAuthType": "=httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personIds\": [\n    \"{{ $json.id }}\"\n  ],\n  \"page\": 1,\n  \"size\": 1000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        32
      ],
      "id": "8b346d28-3b3a-4ee5-9f19-8d882f6a6ccd",
      "name": "Fetch Assets"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        32
      ],
      "id": "5b0f5e55-5844-4649-855c-ed33e2b2c89c",
      "name": "Daily Trigger"
    }
  ],
  "connections": {
    "Extract IDs": {
      "main": [
        [
          {
            "node": "Add to album",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Name & Album": {
      "main": [
        [
          {
            "node": "Find Person ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Person ID": {
      "main": [
        [
          {
            "node": "Fetch Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Assets": {
      "main": [
        [
          {
            "node": "Extract IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Config: Name & Album",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f0ce1ab60c30b5afab4e2adf691565d6577d58066f2f74d229032c40ee2b2d23"
  }
}